
@{
    ViewBag.Title = "Quản lý danh mục";
}

<link href="~/styles/admin.css" rel="stylesheet" />

<div class="admin-content">

    <h1>🏷 Quản lý danh mục</h1>

    <input id="newCategory" placeholder="Tên danh mục mới">
    <button id="addCategoryBtn" class="add-btn">Thêm</button>

    <ul id="categoryList" class="category-list"></ul>

</div>
<script src="~/Scripts/Categoties-admin.js"></script>
